In [1]:
# Importing required modules
import pandas as pd
import numpy as np

# for data visualization
import seaborn as sns
import matplotlib.pyplot as plt

# setting charts size and style
plt.rcParams['figure.figsize'] = (15, 4)
plt.style.use('fivethirtyeight')

In [2]:
import yfinance as yf

In [3]:
# lets fetch the data
google = yf.download(tickers='GOOG',
                     start='2016-01-04',
                     end='2016-12-31',
                     progress=False)

# lets check the shape of the dataset
print("Shape of the Dataset :", google.shape)

# lets check the head of the dataset
google = google['Open']
google.tail()

Shape of the Dataset : (252, 6)

Date
2016-12-23    39.544998
2016-12-27    39.534000
2016-12-28    39.685001
2016-12-29    39.166500
2016-12-30    39.137501
Name: Open, dtype: float64

In [4]:
# lets get the stock data we have
stock_data = pd.read_csv('stock_data.csv',
                         parse_dates = True,
                        index_col = ['Date'])

# lets remove facebook from our data
amazon = stock_data.drop(['Facebook'], axis = 1)
amazon.tail()

                Amazon
Date
2016-12-23  760.590027
2016-12-27  771.400024
2016-12-28  772.130005
2016-12-29  765.150024
2016-12-30  749.869995

In [5]:
# Now lets concatenate the Google and Amazon Data

data = pd.concat([amazon, google], axis = 1)

# lets also change the Name of Open Column to Google for better understanding
data = data.rename(columns = {'Open':'Google'})

# lets chek the shape and head
print("Shape of the Dataset :", data.shape)
data.head()

Shape of the Dataset : (252, 2)

                Amazon     Google
Date
2016-01-04  636.989990  37.150002
2016-01-05  633.789978  37.322498
2016-01-06  632.650024  36.500000
2016-01-07  607.940002  36.515499
2016-01-08  607.049988  36.572498

In [6]:
# reading the benchmark data
benchmark_data = pd.read_csv('benchmark_data.csv', 
                             parse_dates = True,
                             index_col = ['Date'])

# lets remove the Duplicates from the Data using dropna function
benchmark_data = benchmark_data.dropna()

# lets check the shape of the datasets again
print("Shape of Benchmark Data :", benchmark_data.shape)

Shape of Benchmark Data : (252, 1)

## Calculate Daily Stock Returns

## Calculate Excess Returns

## Calculate the Sharpe Ratio